.blokk-xl {
	margin-bottom: 6rem;
}

.blokk-l {
	margin-bottom: 4rem;
}

.blokk-m {
	margin-bottom: 2rem;
}

.blokk-s {
	margin-bottom: 1rem;
}

.innrykk-xl {
	margin-left: 6rem;
}

.innrykk-l {
	margin-left: 4rem;
}