.blokk-xl {
	margin-bottom: 4rem;
}

.blokk-l {
	margin-bottom: 2rem;
}

.blokk-m {
	margin-bottom: 1rem;
}

.blokk-s {
	margin-bottom: 0.5rem;
}

.innrykk-xl {
	margin-left: 6rem;
}

.innrykk-l {
	margin-left: 4rem;
}

.text-center {
	text-align: center;
}

.knapp-stor {
    font-size: 2.75rem;
	padding-top: 1.5rem;
	height: 5rem;
    width: 100%;
}

.knapp-liten {
	font-size: 2rem;
	padding-top: 1rem;
    height: 3.5rem;
	width: 100%;
}

.hidden-mobile {
	display: none;
}

@media(min-width: 1086px) {
	.knapp-stor {
		width: 20rem;
	}
	
	.knapp-liten {
		width: 15rem;
	}
	
	.hidden-mobile {
		display: block;
	}

	.extra-margin {
		margin-right: 200px;
	}
}